h1{
  padding-left: 60px;
  font-size: calc( 1em + 8vmin );
  font-weight: 900;
  color: tomato;

  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow:

    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color),

    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
}

p{
font-size: 30px;
font-weight: bolder;
padding-left: 60px;
font-family: serif;
color: white;
background: rgba(210,180,140,0.8);
border-color: rgba(210,180,140,0.7);
border-style:inset;
border-width: thick;
}

h3{
  padding-left: 60px;
  font-size: calc( 1em + 8vmin );
  font-weight: 900;
  color: tomato;

  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow:

    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color),

    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
}

ul{
  font-size: 30px;
  font-weight: bolder;
  padding-left: 60px;
  font-family: serif;
  color: white;
  background: rgba(210,180,140,0.8);
  border-color: rgba(210,180,140,0.7);
  border-style:inset;
  border-width: thick;
}

a{
  padding-left: 60px;
  font-size: calc( 1em + 3vmin );
  font-weight: 900;
  color: tomato;

  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow:

    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color),

    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
}
